/*
MY COLOR PALETTE
black         #2e2e2f
my sky blue   #1aa0f6
my med blue   #1d499c
my bright blue    #0b8ce8
ghost-white   #f8f8ff
*/

body {
    /* make the background image fill the entire height of viewport */
    height: 100%;
    width: 100%;
    background: #1d499c;
    margin: 0;
}

#site-info{
    position: relative;;
    background-color: #2e2e2f;
    color: #1aa0f6;
    font-family: 'Verdana',Arial, Calibri, sans-serif;
    position: relative;
    margin: .5rem 0 0 0;
    padding: 0.5rem;
    width: 100%;
    height: 20%;
}

#page-info{
    background-color: #1aa0f6;
    color: #2e2e2f;
    width: 100%;
    height: 80%;
}
.content-wrapper {
    /* for centering content */
    margin: 0 auto;
    padding: 30px;
    max-width: 500px;
    background-color:yellow;
}

footer{
    position: relative;
    bottom: 0;
    background-color: #2e2e2f;
    color: #1aa0f6;
    font-family: 'Verdana',Arial, Calibri, sans-serif;
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: 70% 30%;
    
}
footer#copyright{
    float: left;
}
footer ul{
    list-style: none;
    background-color: #2e2e2f;
    color: #1aa0f6;
    margin: .5rem;
}
footer li{
    /*float: left;*/
    float: right;
    margin: 1rem;
    padding: .5rem;
    font-size: x-large;
}
footer a{
    text-decoration: none;
    background-color: #2e2e2f;
    color:yellow;
}
footer a:hover {
    color:lightyellow;
    text-decoration: none;
}
footer a:visited{
    color:lightyellow;
}
footer::after{
    content: "";
    clear: both;
    display: block;
}